web/Test XML GO/ignorantia/src/assets/questions.dtd

<?xml version="1.0" encoding="UTF-8"?>
  <!ELEMENT questions (question)+>
  <!ELEMENT question (text,type,image?,option*)>
  <!ATTLIST question id ID #REQUIRED>
  <!ELEMENT text (#PCDATA)>
  <!ELEMENT type (#PCDATA)>
  <!ELEMENT image (#PCDATA)>
  <!ELEMENT option (#PCDATA)>
  <!ATTLIST option correct CDATA #REQUIRED>
